nav, #main, footer {
  padding-left: 250px;
}

.page-footer {
  padding-top: 0px!important;
}


@media only screen and (max-width : 992px) {
  nav, #main, footer {
    padding-left: 0;
  }

  .material-icons{
    font-size: 44px!important;
    padding-left: 30px!important;
    padding-right: 10px!important;
  }
  
}