/* nav {
  text-shadow: 1px 1px 1px #000;
} */

h3.flow-text {
  font-weight: 600;
}

#cancel {
  cursor: pointer;
}

nav img {
  width: 50px;
  margin-top: 9px;
  margin-left: 3px;
}

@media (min-width: 1500px){
  .collection .collection-item {
    border-bottom: 0 !important;
    display: inline-grid !important;
    width: 25% !important;
  }

  select {
    margin-top: -10px !important;
  }

  .card {
    margin: .5rem 1rem 1rem 0 !important;
    width: 22%;
    display: inline-grid;
  }
}

@media (min-width: 901px) and (max-width: 1499px){
  .collection .collection-item {
    border-bottom: 0 !important;
    display: inline-grid !important;
    width: 33% !important;
  }

  select {
    margin-top: -10px !important;
  }

  .card {
    margin: .5rem 1rem 1rem 0 !important;
    width: 31%;
    display: inline-grid;
  }
}

@media (min-width: 500px) and (max-width: 900px){
  .collection .collection-item {
    border-bottom: 0 !important;
    display: inline-grid !important;
    width: 50% !important;
  }

  select {
    margin-top: -10px !important;
  }

  .card {
    margin: .5rem 1rem 1rem 0 !important;
    width: 47%;
    display: inline-grid;
  }
}

@media (max-width: 499px){
  nav img {
    width: 40px !important;
    margin-top: 9px !important;
    margin-left: 5px !important;
  }
  .collection .collection-item {
    float: none !important;
  }

  select {
    margin-top: -15px !important;
  }
}


